{% extends "base.html" %}
{% load static %}

{% block page_header%}
{% endblock %}

{% block content%}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-xl-8 offset-xl-2 col-xxl-6 offset-xxl-3">
            <!-- Header and 'continue shopping' link -->
            <div class="row">
                <div class="d-flex col-6 align-items-center">
                    <h1 class="justify-content-start py-4 m-0">Your Cart</h1>
                </div>
                <div class="d-flex col-6 align-items-center justify-content-end">
                    <a class="link-dark link-underline-opacity-50 link-underline-opacity-100-hover" href="{% url 'products' %}">Continue Shopping</a>
                </div>
                <hr>
            </div>

            <!-- Table of cart contents -->
            <div class="row">
                {% if cart_items %}
                    <div class="table-responsive rounded px-0 px-sm-1">
                        <table class="table table-sm table-borderless">
                            <thead>
                                <tr>
                                    <th scrope="col">Product Info</th>
                                    <th scrope="col" class="d-none d-sm-table-cell"></th>
                                    <th scrope="col" class="text-center">Price</th>
                                    <th scrope="col" class="text-center">Qty</th>
                                    <th scrope="col" class="text-center">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in cart_items %}
                                <tr>
                                    <td class="p-3 w-auto d-none d-sm-table-cell">
                                        <div class="square-img-container">
                                            <img class="product-img" 
                                            src="{% if item.product.image %}{{ item.product.image.url }}{% else %}{% static 'images/noimage.png' %}{% endif %}"
                                            alt="{{ item.product.name }}">
                                        </div>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0 fw-bold">
                                            {{ item.product.name }}
                                        </p>
                                        {% if item.variant %}
                                        <p class="my-0 fst-italic">
                                            {{item.variant.get_friendly_name}}
                                        </p>
                                        {% endif %}
                                        <p class="my-0 small text-muted">
                                            SKU: {% if item.product.sku %}{{ item.product.sku }}{% else %}-{% endif %}
                                        </p>
                                    </td>
                                    <td class="py-3 px-1 text-center">
                                        <p class="my-0">
                                            €{{ item.price }}
                                        </p>
                                    </td>
                                    <td class="py-3 px-1 text-center">
                                        <p class="my-0">
                                            <!-- {{ item.quantity }} -->
                                            <form class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_key %}">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <div class="input-group qty-div justify-content-center">
                                                        <div class="input-group-prepend">
                                                            <button class="decrement-qty btn btn-sm"
                                                            data-item-id="{{ item.item_key }}" id="decrement-qty-{{ item.item_key }}">
                                                            <span>
                                                                <i class="fa-solid fa-minus fa-sm"></i>
                                                            </span>
                                                            </button>
                                                        </div>
            
                                                        <input class="form-control qty-input rounded-2" type="number"
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                        data-item-id="{{ item.item_key }}" id="id-qty-{{ item.item_key }}">
                                                        
                                                        <div class="input-group-append">
                                                            <button class="increment-qty btn btn-sm"
                                                            data-item-id="{{ item.item_key }}" id="increment-qty-{{ item.item_key }}">
                                                            <span>
                                                                <i class="fa-solid fa-plus fa-sm"></i>
                                                            </span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <a class="update-link text-info show-pointer"><small>Update</small></a>
                                            <a class="remove-link text-danger show-pointer" id="remove-{{ item.item_key }}"><small>Remove</small></a>
                                        </p>
                                    </td>
                                    <td class="py-3 px-1 text-center">
                                        <p class="my-0">
                                            €{{ item.subtotal }}
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        <div class="container-fluid col-12 col-md-6 offset-md-6">
                            <div class="pt-4 text-end">
                                <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                                <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                                <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                                {% if free_delivery_delta > 0 %}
                                    <p class="mb-1 text-danger">
                                        Get free delivery by adding another <strong>€{{ free_delivery_delta }}</strong>!
                                    </p>
                                {% endif %}
                                <a href="{% url 'checkout' %}" class="btn btn-blue btn-lg py-4 w-100">
                                    <span>Check out</span>
                                </a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <!-- If no products in cart -->
                    <div class="text-center">
                        <p class="my-4 lead">
                            Your cart is empty...
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script>
    //Updates quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    //Removes item and reloads on click
    $('.remove-link').click(function(e) {
        var csrf_token = '{{ csrf_token }}';
        var itemId = $(this).attr('id').split('remove-')[1];
        var url = `remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrf_token,}

        $.post(url, data)
        .done(function(){
            location.reload();
        });
    })
</script>
{% endblock %}
