{% extends "base.html" %}
{% load static %}

{% block page_header%}
<div id="heroCarousel" class="carousel slide d-none d-md-block" data-bs-theme="dark">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="{% url 'products' %}?category=candy">
                <img src="{% static 'images\carousel-pile-of-candy.webp' %}" class="d-block w-100" alt="Mix-n-Match - Create your very own candy mix!">
            </a>
        </div>
        <div class="carousel-item">
            <a href="{% url 'products' %}?category=candy&tags=sweet,sour,chocolate">
                <img src="{% static 'images\carousel-jar-of-candy.webp' %}" class="d-block w-100" alt="Sweet, sour or chocolate? Why not mix 'em?">
            </a>
        </div>
        <div class="carousel-item">
            <a href="{% url 'products' %}?category=mixed-bags">
                <img src="{% static 'images\carousel-bag-of-candy.webp' %}" class="d-block w-100" alt="Can't decide? Enjoy our pre-mixed assortments!">
            </a>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
  
<script>
    const carousel = new bootstrap.Carousel('#heroCarousel')
</script>

{% endblock %}

{% block content%}
<div class="container mt-2">
    <div class="row">
        <h1 class="text-center my-4 lead fs-2">SWEtooth Candy Co. Store</h1>
    </div>
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="row d-flex flex-row">
                    <div class="col-md-4">
                        <img src="{% static 'images\swedish-candy-shop.jpg' %}" alt="Pick-n-mix" class="home-card-img img-fluid">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body py-4 px-2 p-sm-5">
                            <h2 class="card-title mb-4">The Swedish Candy Culture</h2>
                            <p class="card-text">
                                Picking out sweets or snacks for the weekend is a Swedish tradition known as 
                                "Fredagsmys" ("Friday Coziness") and "Lördagsgodis" ("Saturday Candy"), 
                                held close to heart by kids and adults alike.
                            </p>
                            <p class="card-text">
                                Luckily one does not need to be Swedish to partake in these age-long traditions,
                                have a look through our vast array of sweet, sour and salty treats and enjoy
                                celebrating the weekend any day of the week!
                            </p>
                            <a href="{% url 'products' %}?category=candy" class="btn btn-blue py-3 px-4 mt-auto">Create your Candy Mix</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="row d-flex flex-row-reverse">
                    <div class="col-md-4">
                        <img src="{% static 'images\swedish-candy-mixes.jpg' %}" alt="Pick-n-mix" class="home-card-img img-fluid">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body py-4 px-2 p-sm-5">
                            <h2 class="card-title mb-4">Pre-mixed Candy Bags</h2>
                            <p class="card-text">
                                Having trouble choosing your perfect mix? We've got you covered!<br>
                            </p>
                            <p class="card-text">
                                Check out our pre-mixed selections of sweet, sour, chocolate or licorice!
                            </p>
                            <a href="{% url 'products' %}?category=mixed-bags" class="btn btn-blue py-3 px-4">Browse Candy Mixes</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="row d-flex flex-row">
                    <div class="col-md-4">
                        <img src="{% static 'images\swedish-candy-box.jpg' %}" alt="Pick-n-mix" class="home-card-img img-fluid">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body py-4 px-2 p-sm-5">
                            <h2 class="card-title mb-4">Sweet Gifts</h2>
                            <p class="card-text">
                                Planning to purchase candy as a gift?<br>
                                Want it to be a little extra?
                            </p>
                            <p class="card-text">
                                Add one of our gift wraps, gift boxes, or gift baskets and 
                                we'll transform your order into a perfect present!
                            </p>
                            <a href="{% url 'products' %}?category=gift-solutions" class="btn btn-blue py-3 px-4">View our Gift Solutions</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Newsletter Signup (Embedded MailChimp form) -->
<div class="container-fluid newsletter-container py-5 my-3">
    <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-xl-4 offset-xl-4 p-3 p-md-0">
            <div id="mc_embed_shell">
                <div id="mc_embed_signup">

                    <form action="https://gmail.us21.list-manage.com/subscribe/post?u=b5da45b5686c0282aa8562562&amp;id=5de5488d71&amp;f_id=0098dde6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate="">
                        <div id="mc_embed_signup_scroll"><h2>Sign-up for our newsletter!</h2>
                            <p>Receive monthly updates on our latest products and exclusive offers!</p>
                            <div class="mc-field-group form-floating">
                                <input type="email" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Name@example.com" required="" value="">
                                <label for="mce-EMAIL">Email Address<span class="asterisk">*</span></label>
                                <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                            </div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display: none;"></div>
                                <div class="response" id="mce-success-response" style="display: none;"></div>
                            </div>
                            <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                                <input type="text" name="b_b5da45b5686c0282aa8562562_5de5488d71" tabindex="-1" value="">
                            </div>
                            <div class="optionalParent">
                                <div class="clear foot">
                                    <input type="submit" name="subscribe" id="mc-embedded-subscribe"
                                    class="button btn btn-blue py-3 px-4 mt-3 w-100" value="Subscribe">
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>           
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'includes/btt_button.html' %}

{% endblock %}