{% extends "base.html" %}
{% load static %}

{% block page_header%}
    <div id="heroCarousel" class="carousel slide d-none d-md-block">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images\home_carousel_bg1.jpg' %}" class="d-block w-100" alt="CAROUSEL 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Placeholder text for first slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images\home_carousel_bg1.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Placeholder text for second slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images\home_carousel_bg1.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Placeholder text for third slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
  
<script>
    const carousel = new bootstrap.Carousel('#heroCarousel')
</script>

{% endblock %}

{% block content%}
<div class="container mt-2">
    <div class="row">
        <h1 class="text-center my-4 lead fs-2">SWEtooth Candy Co. Store</h1>
    </div>
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="row d-flex flex-row">
                    <div class="col-md-4">
                        <img src="{% static 'images\swedish-candy-shop.jpg' %}" alt="Pick-n-mix" class="home-card-img img-fluid">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body py-4 px-2 p-sm-5">
                            <h2 class="card-title mb-4">The Swedish Candy Culture</h5>
                            <p class="card-text">
                                Picking out sweets or snacks for the weekend is a Swedish tradition known as 
                                "Fredagsmys" ("Friday Coziness") and "Lördagsgodis" ("Saturday Candy"), 
                                held close to heart by kids and adults alike.
                            </p>
                            <p class="card-text">
                                Luckily one does not need to be Swedish to partake in these age-long traditions,
                                have a look through our vast array of sweet, sour and salty treats and enjoy
                                celebrating the weekend any day of the week!
                            </p>
                            <a href="{% url 'products' %}?category=candy" class="btn btn-blue py-3 px-4 mt-auto">Create your Candy Mix</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="row d-flex flex-row-reverse">
                    <div class="col-md-4">
                        <img src="{% static 'images\swedish-candy-mixes.jpg' %}" alt="Pick-n-mix" class="home-card-img img-fluid">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body py-4 px-2 p-sm-5">
                            <h2 class="card-title mb-4">Pre-mixed Candy Bags</h5>
                            <p class="card-text">
                                Having trouble choosing your perfect mix? We've got you covered!<br>
                            </p>
                            <p class="card-text">
                                Check out our pre-mixed selections of sweet, sour, chocolate or licorice!
                            </p>
                            <a href="{% url 'products' %}?category=mixed-bags" class="btn btn-blue py-3 px-4">Browse Candy Mixes</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="row d-flex flex-row">
                    <div class="col-md-4">
                        <img src="{% static 'images\swedish-candy-box.jpg' %}" alt="Pick-n-mix" class="home-card-img img-fluid">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body py-4 px-2 p-sm-5">
                            <h2 class="card-title mb-4">Sweet Gifts</h5>
                            <p class="card-text">
                                Planning to purchase candy as a gift?<br>
                                Want it to be a little extra?
                            </p>
                            <p class="card-text">
                                Add one of our gift wraps, gift boxes, or gift baskets and 
                                we'll transform your order into a perfect present!
                            </p>
                            <a href="{% url 'products' %}?category=gift-solutions" class="btn btn-blue py-3 px-4">View our Gift Solutions</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'includes/btt_button.html' %}

{% endblock %}