html{
    height: 100%;
}

body{
    min-height: 100%;
    /* Temporary padding, adjust media query body padding too */
    padding-top: 104px;
}

footer{
    margin-top: auto;
}

/* Navbar */
#site-header p{
    margin: 0;
}

#desktop-nav{
    color: white;
    background-color: #0169A8;
}

#mobile-nav{
    color: white;
    background-color: #0169A8;
}

/* Carousel */
.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;   
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* Offcanvas */
.offcanvas-header{
    color: white;
    background-color: #0169A8;
}

/* Media Queries */

/* medium screen size */
@media (min-width: 768px) {
    /* padding for fixed header */
    body {
        padding-top: 120px;
    }

    #mobile-nav{
        color: black;
        background-color: white;
    }
}