html{
    height: 100%;
}

body{
    min-height: 100%;
    padding-top: 144px;
    display: flex;
    flex-direction: column;
}

/* Footer */
footer{
    margin-top: auto;
    color: white;
    background-color: #0169A8;
}

footer a{
    color: white;
}

footer a:hover{
    color: #fecc00;
    text-shadow: 0 2px 10px black;
}

/* Navbar */
#site-header p{
    margin: 0;
}

#desktop-nav{
    color: white;
    background-color: #0169A8;
}

#mobile-nav{
    color: white;
    background-color: #0169A8;
}

/* Buttons */
.btn-blue{
    color: rgb(240, 240, 240);
    background-color: #0169A8;
    border: 1px solid white;
}

.btn-blue:hover{
    color: white;
    background-color: #0169A8;
    border: 1px solid #0169A8;
}

/* Back-to-top button, initially hidden */
#btt-button{
    color: white;
    border-radius: 100%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: -1;
}

/* Back-to-top button, on being shown */
#btt-button.show{
    opacity: 1;
    display: block;
    /*
    Above basic html elements but under bootstrap
    overlays, for further information see
    https://getbootstrap.com/docs/5.3/layout/z-index/ 
    */
    z-index: 1060;
}

#btt-button:hover{
    color: #fecc00;
    text-shadow: 0 2px 10px black;
}

.show-pointer{
    cursor: pointer;
}

/* cart quantity selection */
.qty-div{
    flex-wrap: nowrap;
    align-self: center;
}

.qty-input{
    text-align: center;
    max-width: 50px;
}

/* Carousel */
.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;   
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* Pagination wraps on smaller devices */
.pagination{
    flex-wrap: wrap;
}

/* Card images featured on home page */
.home-card-img{
    min-height: 100%;
    max-height: 330px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}

/* Offcanvas */
.offcanvas-header{
    color: white;
    background-color: #0169A8;
}

/* Products */

/* Container for product images */
.square-img-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}

/* Product images, square */
.product-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Text shows up on failed log-in/signup attempts */
.errorlist, .alert-danger ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

/* 
    Hides the up/down arrows on number inputs, taken from
    https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp
*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

/* Media Queries */

/* medium screen size and above */
@media (min-width: 768px) {
    /* padding for fixed header */
    body {
        padding-top: 136px;
    }

    /* navbars */
    #mobile-nav{
        color: black;
        background-color: white;
    }

    #desktop-nav a:hover{
        color: #fecc00;
        text-shadow: 0 2px 10px black;
    }
}

/* medium screen size */
@media (max-width: 767px) {
    /* links on mobile nav */
    #mobile-nav > a:hover{
        color: #fecc00!important;
        text-shadow: 0 2px 10px black;
    }
}

/* small screen size */
@media (max-width: 576px) {
    /* quantity selector */
    .qty-input{
        padding: 0px;
        text-align: center;
    }
    
    /* quantity selection buttons */
    .increment-qty, .decrement-qty{
        padding: 4px 3px
    }
}

