html{
    height: 100%;
}

body{
    min-height: 100%;
    padding-top: 144px;
}

footer{
    margin-top: auto;
}

/* Navbar */
#site-header p{
    margin: 0;
}

#desktop-nav{
    color: white;
    background-color: #0169A8;
}

#mobile-nav{
    color: white;
    background-color: #0169A8;
}

/* Buttons */
.btn-account{
    color: rgb(240, 240, 240);
    background-color: #0169A8;
    border: 1px solid white;
}

.btn-account:hover{
    color: white;
    background-color: #0169A8;
    border: 1px solid #0169A8;
}

/* Carousel */
.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;   
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* Offcanvas */
.offcanvas-header{
    color: white;
    background-color: #0169A8;
}

/* Text shows up on failed log-in/signup attempts */
.errorlist, .alert-danger ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Media Queries */

/* medium screen size */
@media (min-width: 768px) {
    /* padding for fixed header */
    body {
        padding-top: 136px;
    }

    #mobile-nav{
        color: black;
        background-color: white;
    }
}