{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}

{% get_providers as socialaccount_providers %}

<div class="d-flex flex-column justify-content-center">
  <h1 class="align-self-center py-4">{% trans "Sign In" %}</h1>
  {% if socialaccount_providers %}
  <p>
    {% blocktrans with site.name as site_name %}Please sign in with one
    of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
    for a {{ site_name }} account and sign in below:{% endblocktrans %}
  </p>

  <div class="socialaccount_ballot">
    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>
    <div class="login-or">{% trans 'or' %}</div>
  </div>

  {% include "socialaccount/snippets/login_extra.html" %}
  {% endif %}
  
  <!-- Alert box on error -->
  {% if form.errors %}
    <div class="fieldWrapper alert alert-danger">
      <ul>
        <!-- Field errors -->
        {% for field in form %}
          {% for error in field.errors %}
          <li>[{{field.name.capitalize}}]: {{ error }}</li>
          {% endfor %}
        {% endfor %}

        <!-- Non-field errors -->
        {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <!-- Login form -->
  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    <p class="form-floating">
      <input type="text" class="form-control" name="login" placeholder="Name@example.com" autocomplete="email" required id="id_login">
      <label for="id_login">Username or Email</label>
    </p>
    <p class="form-floating">
      <input type="password" class="form-control" name="password" placeholder="Password" autocomplete="current-password" required id="id_password">
      <label for="id_password">Password</label>
    </p>
    <p>
      <input type="checkbox" name="remember" id="id_remember">
      <label for="id_remember">Remember Me:</label> 
    </p>
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
    {% endif %}
    
    <div class="d-flex flex-column align-items-center">
      <button class="primaryAction w-100 btn btn-blue mb-2 py-2" type="submit">{% trans "Sign In" %}</button>
    </div>
  </form>

  <div class="align-self-center grid gap-4">
    <a href="{{ signup_url }}">{% trans "Create Account" %}</a>
    <span class="text-body-tertiary mx-1">|</span>
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  </div>
  
</div>

{% endblock %}
