{% load static %}

<!doctype html>
<html lang="en">
    <head>
        {% block meta %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link rel="icon" type="image/png" href="{% static 'images/favicon/favicon.ico' %}">
            <meta name="description" content="Your go-to online shop for swedish candy, sweets and treats!">
            <meta name="keywords"
            content="swedish candy, swedish chocolate, sweet, sour, candy online, candy gifts,
                    gift box, gift basket, sweets, treats">
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}
        
        {% block corecss %}
            <!-- Bootstrap CSS -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        {% block corejs %}
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
        {% endblock %}

        {% block extra_js %}
        {% endblock %}

        <title>SWEtooth Candy Co. Shop {% block extra_title %}{% endblock %}</title>
    </head>

    <body>
        <header class="container-fluid fixed-top px-0">
            <!-- Navigation -->
            <div id="site-header" class="text-center px-0 bg-white">
                <div class="row g-0">
                    <!-- Logo -->
                    <div class="col-12 col-md-4 py-2 d-flex align-items-center justify-content-center ">
                        <a class="navbar-brand" href="{% url 'home'%}">
                            <img src="{% static 'images\swetooth-logo.png' %}" alt="SWEtooth Candy Co." height="64" width="244">
                        </a>
                    </div>

                    <!-- Center Search Bar (hidden on small screens) -->
                    <div class="col-12 col-md-4 d-none d-md-flex align-items-center">
                        <form method="GET" action="{% url 'products' %}" class="input-group">
                            <input type="search" class="form-control" name="q" placeholder="Search by Name, Flavor, etc.">
                            <button class="input-group-text border-1"><i class="fas fa-search"></i></button>
                        </form>
                    </div>

                    <!-- Browse, Login, Cart -->
                    <div id="mobile-nav" class="col-12 col-md-4 p-2 px-sm-4 d-flex justify-content-end justify-content-md-center align-items-center">
                        <!-- Browse (visible on mobile devices) -->
                        <a class="nav-link text-reset mx-3 d-md-none me-auto" data-bs-toggle="offcanvas" href="#offcanvasBrowse" role="button" aria-controls="offcanvasBrowse">
                            <p><i class="fa-solid fa-bars"></i></p>
                            <p>Browse</p>
                        </a>
                        {% if user.is_authenticated %}
                        
                        <!-- Profile -->
                        <a class="nav-link text-reset mx-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <p><i class="fa-solid fa-user"></i></p>
                            <p class="dropdown-toggle">{{ user.username}}</p>
                        </a>
                        <!-- Dropdown menu items -->
                        <ul class="dropdown-menu dropdown-menu-start">
                            <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                            {% if user.is_superuser %}
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'add_product' %}">Add New Product</a></li>
                                <li><a class="dropdown-item" href="/admin">Django Admin Menu</a></li>
                            {% endif %}
                            <li><hr class="dropdown-divider"></li>
                            <li><a id="button-logout" class="dropdown-item text-danger" href="{% url 'account_logout' %}">Sign Out</a></li>
                        </ul>
                        {% else %}
                        <!-- Login -->
                        <a class="nav-link text-reset mx-3" href="{% url 'account_login' %}">
                            <p><i class="fa-regular fa-user"></i></p>
                            <p>Log In</p>
                        </a>
                        {% endif %}
                        <!-- Cart -->
                        <a class="nav-link text-reset mx-3" href="{% url 'view_cart' %}">
                            <p><i class="fa-solid fa-basket-shopping"></i></p>
                            <p>Cart</p>
                        </a>
                    </div>
                </div>
                
                <!-- Bottom Navbar (Desktop only) -->
                <nav id="desktop-nav" class="d-none d-md-flex flex-row py-2 justify-content-evenly">
                    <div class="p-2">
                        <a class="nav-link" data-bs-toggle="offcanvas" href="#offcanvasBrowse" role="button" aria-controls="offcanvasBrowse"><i class="fa-solid fa-bars"></i>
                            Browse by Category
                        </a>
                    </div>
                    <div class="p-2">
                        <a class="nav-link" aria-current="page" href="{% url 'products' %}?category=candy">
                            Candy Assortment
                        </a>
                    </div>
                    <div class="p-2">
                        <a class="nav-link" aria-current="page" href="{% url 'products' %}?category=mixed-bags">
                            Mixed Bags
                        </a>
                    </div>
                    <div class="p-2">
                        <a class="nav-link" aria-current="page" href="{% url 'products' %}?category=packaged-candy">
                            Pre-packaged Candy
                        </a>
                    </div>
                    <div class="p-2">
                        <a class="nav-link" aria-current="page" href="{% url 'products' %}?category=gift-solutions">
                            Gift Solutions
                        </a>
                    </div>
                </nav>
            </div>
        </header>
        
        {% if messages %}
        <!-- Message box -->
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show my-0 text-center border-0 rounded-0" id="msg" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close message box"></button>
            </div>
            {% endfor %}
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        <!-- Footer -->
        <br>
        <footer class="py-3">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                    <p class="mb-0">This website was created as a portfolio project and is entirely for educational purposes.</p>
                    </div>
                    <div class="col-6 mt-0">
                        <ul class="list-inline text-end mb-0">
                            <li class="list-inline-item">
                                <a class="fs-3" href="https://github.com/AndreeeasN" target="_blank" aria-label="Link to Andreas Norberg Bergström's GitHub page (Opens in a new tab)"><i class="fa-brands fa-square-github"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="fs-3" href="https://www.linkedin.com/in/andreas-norberg-bergstr%C3%B6m-69a79426a/" target="_blank" aria-label="Link to Andreas Norberg Bergström's LinkedIn page (Opens in a new tab)"><i class="fa-brands fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        {% block postloadjs %}
        <!-- Font-Awesome script -->
        <script src="https://kit.fontawesome.com/b7d2707d73.js" crossorigin="anonymous"></script>
        {% endblock %}

        {% include 'includes/sidenav.html' %}

    </body>

</html>
