{% extends "base.html" %}
{% load static %}

{% block page_header%}
{% endblock %}

{% block content%}
<div class="container-fluid">
    <div class="row">
        <div class="col ">
            <h1 class="text-center py-4">
                {% if search_term %}
                    Search results
                {% elif current_category %}
                    {{ current_category.0.friendly_name }}
                {% else %}
                    Products
                {% endif %}
            </h1>
            <hr class="mt-0">
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1">
            <div class="row justify-content-between">
                <!-- Sort order -->
                <div class="d-flex col-12 col-md-6 col-lg-4 ms-auto p-0 mb-2 align-items-center">
                    <select id="sort-selector" class="form-select form-select-sm flex-grow-1">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by:</option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price, low to high</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price, high to low</option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Alphabetically, A-Z</option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Alphabetically, Z-A</option>
                    </select>
                    <span id="products-amount" class="col-auto text-muted px-2">{{ products|length }} Products</span>
                </div>
            </div>
            <!-- Products -->
            <div class="row">
                {% for product in products%}
                    <div class="col-12 col-sm-6 col-md-4 col-xl-3 col-xxl-2 p-1">
                        <div class="card h-100 p-1">
                            <!-- Product image -->
                            <div class="square-img-container">
                                <a href="{% url 'product_detail' product.id %}">
                                {% if product.image %}
                                   <img class="product-img p-2" src="{{ product.image.url }}" alt="{{ product.name }}">
                                {% else %}
                                <!-- Default if no image -->
                                    <img class="product-img p-4" src="{% static 'images/noimage.png' %}" alt="{{ product.name }}">
                                {% endif %}
                                </a>
                            </div>
                            <!-- Product name, price, add to cart/choose options -->
                            <div class="card-body d-flex flex-column">
                                <p class="fs-5">
                                    <a class="link-dark link-underline-opacity-0" href="{% url 'product_detail' product.id %}">
                                        {{ product.name }}
                                    </a>
                                </p>
                            <!-- If product has variants show minimum price-->
                                {% if product.product_variants.all  %}
                                    <p class="mt-auto">
                                        From {{ product.get_minimum_price }} EUR
                                    </p>
                                    <a href="{% url 'product_detail' product.id %}">
                                        <button class="w-100 btn btn-blue mb-2 py-2 mt-auto">Choose Options</button>
                                    </a>
                                {% else %}
                                    <p class="mt-auto">
                                        {{ product.price }} EUR
                                    </p>
                                    <button id="add-{{ product.pk }}" class="add-to-cart w-100 btn btn-blue mb-2 py-2 mt-auto">
                                        Add to Cart
                                    </button>   
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% empty %}
                <!-- If no products listed -->
                <div class="text-center">
                    <p class="my-4 lead">
                    {% if search_term %}
                        No results found for "{{ search_term }}". Try using a different word or phrase.
                    {% elif current_category %}
                        No matching {{ current_category.0.friendly_name.lower }} found...
                    {% else %}
                        No products found...
                    {% endif %}
                    </p>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
</div>
<button id="btt-button" class="btn btn-primary" title="Scroll to Top">
    <i class="fa-solid fa-arrow-up"></i>
</button>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    // Script to scroll to top on button press
    const backToTopButton = document.querySelector('#btt-button');
    backToTopButton.addEventListener('click', function(){
        window.scrollTo(0,0);
    })

    // Button only visible after scrolling
    window.addEventListener('scroll', function(){
        if (window.scrollY > 400) {
            backToTopButton.classList.add('show');
        } else {
            backToTopButton.classList.remove('show');
        }
    })
</script>

<script type="text/javascript">
    // Script to sort products on selecting from #sort-selector
    $('#sort-selector').change(function() {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if(selectedVal != "reset"){
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");
        }

        window.location.replace(currentUrl);
    })
</script>

<script type="text/javascript">
    $('.add-to-cart').click(function(e) {
        var csrf_token = '{{ csrf_token }}';
        var item_id = $(this).attr('id').split('add-')[1];
        var redirect_url = window.location.toString();
        var url = `../cart/add/${item_id}/`;
        var data = {
            'csrfmiddlewaretoken': csrf_token,
            'item_id': item_id,
            'variant_id': null,
            'quantity': 1,
            'redirect_url': redirect_url,
        }

        $.post(url, data)
        .done(function(){
            location.reload();
        });
    })
</script>
{% endblock %}