{% extends "base.html" %}
{% load static %}

{% block page_header%}
{% endblock %}

{% block content%}
<div class="container-fluid">
    <div class="row">
        <div class="col ">
            <h1 class="text-center py-4">
                {% if search_term %}
                    Search results
                {% elif current_category %}
                    {{ current_category.0.friendly_name }}
                {% else %}
                    Products
                {% endif %}
            </h1>
            <hr class="mt-0">
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1">
            <div class="row my-2"></div>
            <div class="row">
                <!-- Products -->
                {% for product in products%}
                    <div class="col-12 col-sm-6 col-md-4 col-xl-3 col-xxl-2 p-1">
                        <div class="card h-100 p-1">
                            <!-- Product image -->
                            <div class="square-img-container">
                                <a href="{% url 'product_detail' product.id %}">
                                {% if product.image %}
                                   <img class="product-img p-2" src="{{ product.image.url }}" alt="{{ product.name }}">
                                {% else %}
                                <!-- Default if no image -->
                                    <img class="product-img p-4" src="{% static 'images/noimage.png' %}" alt="{{ product.name }}">
                                {% endif %}
                                </a>
                            </div>
                            <!-- Product name, price, add to cart/choose options -->
                            <div class="card-body d-flex flex-column">
                                <p class="fs-5">
                                    <a class="link-dark link-underline-opacity-0" href="{% url 'product_detail' product.id %}">
                                        {{ product.name }}
                                    </a>
                                </p>
                            <!-- If product has variants show minimum price-->
                                {% if product.product_variants.all  %}
                                    <p class="mt-auto">
                                        From {{ product.get_minimum_price }} EUR
                                    </p>
                                    <button class="w-100 btn btn-blue mb-2 py-2 mt-auto">Choose Options</button>
                                {% else %}
                                    <p class="mt-auto">
                                        {{ product.price }} EUR
                                    </p>
                                    <button class="w-100 btn btn-blue mb-2 py-2 mt-auto">
                                        Add to Cart
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% empty %}
                <!-- If no products listed -->
                <div class="text-center">
                    <p class="">
                    {% if search_term %}
                        No results found for "{{ search_term }}". Try using a different word or phrase.
                    {% elif current_category %}
                        No matching {{ current_category.0.friendly_name.lower }} found...
                    {% else %}
                        No products found...
                    {% endif %}
                    </p>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
</div>
{% endblock %}